[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
black = "*"
psycopg2 = "*"
django-debug-toolbar = "*"
django-taggit = "*"
django-markdown = "*"
pillow = "*"
sorl-thumbnail = "*"

[dev-packages]

[requires]
python_version = "3.9"
