{% extends 'blog_app/base.html' %}

{% block title %}Blog{% endblock title %}

{% block content %}
    <div id="search-field">
        <form id="search-form" action="." method="GET">
            <input id="search-input" type="text" name="search" value="{{ current_name }}">
            <input id="search-button" type="submit" value="search">
        </form>
    </div>
    {% if tag %}
        <p class="tagged">Posts tagged with "{{ tag }}"</p>
    {% endif %}
    <div class="content-wrapper">
        {% include 'blog_app/post/list_wrapper.html' %}
    </div>

<script>
$(document).ready(function () {
    let url_href = window.location.href
    let url_slug = window.location.pathname.split('/')[2];
    let page_num = {{ page }};
    let page_limit = {{ page_limit }}
    let block_request = false;
    $(window).scroll(function() {
        var margin = ($(document).height() - $(window).height()) - 500;
        if ($(window).scrollTop() >= margin && page_num < page_limit && block_request == false) {
            block_request = true;
            $.ajax({
                type: "GET",
                url: url_href,
                dataType: "html",
                data: {page: ++page_num},
                success: function (data) {
                    block_request = false;
                    $(".content-wrapper").append(data).html()
                }
            });
        }
    });
});
</script>
{% endblock content %}